<app-controls (doSearch)="handleSearchClick($event)"
              (clearList)="clearImageList()"
              (changeListGroupingStatus)="toggleListGroupingStatus()"
              [isListGrouped]="isListGrouped"
              [searchTag]="searchTag"
              [isDataLoading]="isDataLoading"
></app-controls>

<ng-template [ngIf]="!isListGrouped">
  <app-image-list [images]="images" (setTagToInput)="setTag($event)"></app-image-list>
</ng-template>

<ng-template [ngIf]="isListGrouped">
  <div class="group" *ngFor="let tag of tagsForGrouping">
    <p class="tag-title">{{tag}}</p>
    <app-image-list [images]="groupedImages[tag]" (setTagToInput)="setTag($event)"></app-image-list>
  </div>
</ng-template>

<app-modal
  [show]="showModal"
  (closeModal)="toggleModal()"
>
  <p>{{errorOrNoDataMessage}}</p>
</app-modal>


